@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.burger {
  @include flex(column, center, center);

  gap: 5px;
  width: 30px;
  height: 38px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  position: relative;
  z-index: $z-index-header + 1;

  &-line {
    display: block;
    width: 22.5px;
    height: 3px;
    background: map-get($colors, 'text-light');
    border-radius: 3px;
    position: relative;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: 4px 0;

    &:nth-child(1) {
      transform-origin: 0 0;
    }

    &:nth-child(3) {
      transform-origin: 0 100%;
    }
  }

  &_open {
    .burger-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(0.5px, 0);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.5px, 0);
      }
    }
  }

  @include mobile {
    display: flex;
  }
}
