@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.portal {
  @include flex(row, center, center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-dropdown;

  &__content {
    position: relative;
    z-index: $z-index-dropdown + 1;
    background: map-get($colors, 'black');
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform:  translateY(-20px);
    opacity: 0;
    transition: all var(--portal-animation-duration) cubic-bezier(0.4, 0, 0.2, 1);

    &--visible {
      transform:  translateY(0);
      opacity: 1;
    }
  }
}
