@use 'variables' as *;

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin text($size: 18px, $weight: 400, $color: map-get($colors, 'text-light'), $position: initial) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  text-align: $position;
}

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@function asset($path) {
  @return url("../../../public/" + $path);
}

@function image($filename) {
  @return asset("assets/" + $filename);
}

