// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1248px;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$colors: (
  "black": #000000,
  "primary": #EBFF00,
  "secondary": #FF70D9,
  "background-dark": #0D1E48,
  "background-light": #304571,
  "text-light": #FFFFFF,
  "text-dark": #000000,
);

$dark-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%);

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
$font-family-main: 'Lato', sans-serif;

// -----------------------------------------------------------------------------
// Z-indexes
// -----------------------------------------------------------------------------
$z-index-header: 100;
$z-index-dropdown: 50;

// -----------------------------------------------------------------------------
// Transitions
// -----------------------------------------------------------------------------
$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;

// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------
$header-height: 80px;

// -----------------------------------------------------------------------------
// Dropdown
// -----------------------------------------------------------------------------
$dropdown-height: 20vh;

// -----------------------------------------------------------------------------
// Container
// -----------------------------------------------------------------------------
$container-padding-l: 0 80px;
$container-padding-m: 0 30px;
$container-padding-s: 0 20px;
